# Datasource
spring.datasource.url=jdbc:postgresql://localhost/timetable_db
spring.datasource.username= # ADD YOUR ---USERNAME--- FOR THE DB
spring.datasource.password= # ADD YOUR ---PASSWORD--- FOR THE DB
spring.datasource.driver-class-name = org.postgresql.Driver

# Hibernate
spring.jpa.hibernate.ddl-auto = update
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQL94Dialect
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults: false

# Mail service config
spring.mail.host=mail.nethely.hu
spring.mail.port=1025
spring.mail.username=g4bor@codename042.infora.hu
spring.mail.password= # MY_PRIVATE_OWN_PASSWORD
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.ssl.trust=mail.nethely.hu
