# Datasource
spring.datasource.url=jdbc:postgresql://localhost/timetable_db
spring.datasource.username= # ADD YOUR ---USERNAME--- FOR THE DB
spring.datasource.password= # ADD YOUR ---PASSWORD--- FOR THE DB
spring.datasource.driver-class-name = org.postgresql.Driver

# Hibernate
spring.jpa.hibernate.ddl-auto = update
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQL94Dialect
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults: false
